<div class="row clearfix" style="margin-top: 10px;">
    <div class="col-md-12 col-sm-12 text-center">
        <h2 *ngIf="ClassroomData">{{ClassroomData.title}}</h2>
        <span class="keep-right">
            <a href="#updateassignment" data-toggle="modal"><button type="button" (click)="UpdateAssignment()" class="btn btn-sm btn-default" title="Edit"><i class="fa fa-edit"></i> Edit Assignment</button></a>
        </span>
        <h4 *ngIf="AssignmentData">{{AssignmentData.title}}</h4>
        <h6 *ngIf="AssignmentData">Total Marks : {{AssignmentData.totalMarks}}</h6>
    </div>
</div>

<div *ngIf="AssignmentData" class="row clearfix" style="margin-bottom: 5px;">
    <div class="col-md-3 col-sm-3 text-left mb-1">
        <span class="badge badge-success">
            Starting : {{AssignmentData.startedAt | date: 'dd/MM/yyyy hh:mm a' }}
        </span>
    </div>
    <div class="col-md-6 col-sm-6 text-center mb-1">
        {{counter}}
    </div>
    <div class="col-md-3 col-sm-3 text-right mb-1">
        <span class="badge badge-danger">
            Ending : {{AssignmentData.endedAt | date: 'dd/MM/yyyy hh:mm a' }}
        </span>
    </div>
</div>

<div class="row clearfix" style="margin-bottom: 5px;">
    <div class="col-md-6 col-sm-6 text-left mb-1">
        <a [routerLink]="['/classrooms/',classroomId,'assignments']"><button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> View Assignments</button></a> &nbsp;
    </div>
    <div class="col-md-6 col-sm-6 text-right mb-1">
        <a href="#addnew" data-toggle="modal"><button class="btn btn-success" (click)="Add()"><i class="fa fa-plus" aria-hidden="true"></i> Add New Question</button></a> &nbsp;
    </div>
</div>

<div class="table-responsive" *ngIf="questionsData">
    <table class="table table-hover table-custom spacing8">
        <thead>
            <tr>
                <th class="w60">Question</th>
                <th></th>
                <th class="w100">Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let item of questionsData, let i = index">
                
                <td class="width45">
                    <div class="avtar-pic w35 bg-pink" data-toggle="tooltip" data-placement="top" title="" data-original-title="Avatar Name"><span>{{ i + 1 }}</span></div>
                </td>
                <td>
                    <h6 class="mb-0">{{ item.questionPart }}</h6>
                    <span>Marks : {{ item.marks }}</span>
                </td>
                <td>
                    <a href="#update" data-toggle="modal"><button type="button" class="btn btn-sm btn-default" (click)="Update(item)" title="Edit"><i class="fa fa-edit"></i></button></a>
                    <a href="#delete" data-toggle="modal"><button type="button" class="btn btn-sm btn-default js-sweetalert" (click)="Action(item.idQuestions, item.questionPart)" title="Delete"><i class="fa fa-trash-o text-danger"></i></button></a>
                </td>
            </tr>
            
        </tbody>
    </table>                
</div>


<!-- Modal for Delete -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{actionOn}} will be Deleted. Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteModalClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form #form="ngForm" (submit)="onDelete(actionId)">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Add New -->
<div *ngIf="addModalCalled" class="modal fade" id="addnew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="row">
        <div class="col-md-12">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New Question</h5>
                        <button type="button" id="addNewModalClose" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-create-question [classroomId] = "classroomId" [assignmentId] = "assignmentId" [userId] = "userId" (parentFunction) = "initList()"></app-create-question>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Update -->
<div *ngIf="editModalCalled" class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="row">
        <div class="col-md-12">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Question</h5>
                        <button type="button" id="updateModalClose" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-update-question [classroomId] = "classroomId" [assignmentId] = "assignmentId" [userId] = "userId" [parentData] = "QuestionModel" (parentFunction) = "initList()"></app-update-question>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Update Assignment -->
<div *ngIf="editAssignmentModalCalled" class="modal fade" id="updateassignment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="row">
        <div class="col-md-12">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Assignment</h5>
                        <button type="button" id="updateModalClose" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-update-assignment [classroomId] = "classroomId" [userId] = "userId" [parentData] = "AssignmentData" (parentFunction) = "findAssignment()"></app-update-assignment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>